#quiz-question {
    color: #fff;
}

.start-screen-content,
.quiz-end-screen-content {
    color: #fff;
    width: 625px;
    min-width: 625px;
    padding: 45px;
    box-sizing: border-box;
    text-align: center;
}

.quiz-start-screen-title,
.quiz-question-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.quiz-question-img img {
    margin-top: 30px;
    width: 800px;
    height: 450px;
}

.quiz-question-container {
    margin-top: 30px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.quiz-answer-btn {
    border-radius: 3px;
    border: none;
    padding: 12px 30px;
    min-width: 390px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background-color: #c53efc;
    color: #fff;
    transition: all 200ms ease;
    box-shadow: 0 3px 0 0 #8f05c7;
}

.quiz-answer-btn:active {
    transform: translateY(3px);
    box-shadow: none;
}

#countdown {
    text-align: center;
    align-self: center;
}

#countdown .time .value {
    min-width: 30px;
}

#countdown .time {
    border-radius: 10px;
    padding: 25px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 3px 0 0 #eee;
}

.modal.quiz-modal {
    background-color: transparent;
    box-shadow: none;
    max-width: none;
    width: initial;
}

.quiz {
    display: flex;
    gap: 50px;
}