* {
    padding: 0;
    margin: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

h2 {
    font-size: 42px;
    color: #CC3CFD;
}

body {
    background-image: url('/assets/gameboard_empty.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#goose {
    width: 150px;
    animation: wiggleGoose 5s infinite;
    animation-timing-function: linear;
}

/* Animation Keyframes*/
@keyframes wiggleGoose {
    0% { transform: rotate(0deg);}
    50% { transform: rotate(10deg); }
    80% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}

#start-screen {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/gameboard_empty.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 99;
}

.start-screen-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
}

.start-screen-content {
    width: 625px;    
    padding: 45px;
    box-sizing: border-box;
    text-align: center;
}

#board {    
    height: 600px;
    object-fit: contain;    
}

#inline-board .item,
#inline-board circle {
    stroke: transparent !important;
}

#game-data {
    position: fixed;
    bottom: 30px;
    right: 30px;    
    text-align: center;
}

#turn-indicator {
    position: fixed;
    bottom: 30px;
    left: 30px;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 3px 0 0 #EEE;
    border-radius: 10px;
}

#dice-container {    
    border-radius: 10px;
    padding: 25px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 3px 0 0 #EEE;
}

#player-container {
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;    
    box-shadow: 0 3px 0 0 #EEE;
}

.pawn-container {
    display: flex;
    justify-content: space-between;    
}

.pawn {
    cursor: not-allowed;
    opacity: 0.2;
    margin: 5px;
    max-width: 80px;     
    padding: 18px;
    border: 2px solid #eee;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

.pawn-pos {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #d7cfcf;
}

.pawn.active {
    cursor: default;
    opacity: 1;
}

.pawn img {
    width: 100%;
}

#dice {
    display: inline-flex;
    width: 70px;
    height: 70px;
    border-radius: 3px;
    border: 2px solid #eee;
    background-color: #fff;
    box-shadow: 0 3px 0 0 #EEE;    
    justify-content: center;
    align-items: center;
    transition: 1s all ease-in-out;
    transform: rotate(0deg);
}

#dice.roll-animation {
    transform: rotate(360deg);
}

#dice img {
    max-width: 90%;
}

#introductionModal {
    padding: 35px !important;
    max-width: 650px !important;
}

#introductionModalContent {
    text-align: center;
    padding: 20px;
}

.example-position {
    display: flex;
    align-items: center;
    border: 2px solid #CC3CFD;
    border-radius: 10px;
    padding: 18px;
    margin-bottom: 15px;
}

.example-positions.vert {
    flex-direction: row;
    display: flex;
}

.example-positions.vert .example-position {
    flex-direction: column;
    margin: 10px;
}

.example-positions.vert .example-position p {
    margin-top: 15px;
    margin-left: 0;
}

.example-positions.vert img {
    width: 200px;
    height: 150px;
}

.example-position img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    flex: none;
}

.example-position p {
    text-align: left;
    margin-left: 20px;
    font-size: 16px;
}

.modal-slide {
    display: none;
}